# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Environments
.env

# Editor directories and files
.vscode/
.idea/
*.swp
*~
.DS_Store
thumbs.db
